{% extends "layout.html" %}
{% block title %}picotube{% endblock %}
{% block main %}
<h2>sign in</h2>
<form method="post">
    <div class="formRow">
        <label for="username">username</label>
        <input id="username" name="username" type="text" value="{{ username }}" required>
    </div>
    <div class="formRow">
        <label for="password">password</label>
        <input id="password" name="password" type="password" required>
    </div>
    <p role="alert">{{ error }}</p>
    <div class="formButtons">
        <input type="submit" value="sign in">
    </div>
    <p class="end">Don't have an account yet? <a href="/signup">Sign up</a> first</p>
</form>
{% endblock %}