:root {
    --background: white;
    --foreground: black;
}

* {
    font-family: sans-serif;
}

body {
    max-width: 800px;
    margin-inline: auto;
    background-color: var(--background);
    color: var(--foreground);
}

body.wide {
    max-width: 1000px;
}

header, nav, main, footer {
    margin-inline: 1em;
}

header {
    display: flex;
    color: var(--accent);
}

header h1 {
    flex-grow: 1;
    margin-block-end: 0.5em;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

header form {
    align-self: center;
}

header .greeting {
    margin: 0;
    margin-block-start: 0.5em;
    text-align: end;
    font-size: smaller;
}

nav {
    border-block-end: 0.25em solid var(--accent);
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    display: block;
    padding-block: 0.25em;
    padding-inline: 0.5em;
    color: var(--accent);
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
    background-color: var(--accent);
    color: white;
}

nav a:hover {
    background-color: var(--accent);
    color: white;
}

nav .spacer {
    flex-grow: 1;
}

footer {
    margin-top: 2rem;
    font-size: smaller;
    text-align: center;
    text-transform: lowercase;
}

a {
    color: var(--accent);
}

input.long {
    width: calc(80% - 150px);
}

textarea {
    width: calc(80% - 150px);
    font-size: smaller;
    resize: vertical;
}

fieldset {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 0;
    padding: 0;
    border: none;
}

fieldset legend {
    width: 150px;
    margin-block-end: -100%;
    padding: 0;
    grid-column: 1;
}

fieldset > div {
    grid-column: 2;
}

section {
    margin-block-end: 0.5em;
    padding: 0.5em;
}

section p {
    margin-block: 0.5em;
}

section.highlight {
    background-color: color-mix(in srgb, var(--accent) 30%, transparent);
}

.formRow {
    margin-block: 0.25em;
}

.formRow label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.formSpacer {
    height: 0.5em;
}

.formButtons {
    margin-block: 1em;
}

.start {
    text-align: start;
}

.center {
    text-align: center;
}

.end {
    text-align: end;
}

.recommendationsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-block: 1em;
}

.recommendationsList {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block: 1em;
}

.recommendation {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: start;
}

.recommendation a {
    color: inherit;
    text-decoration: none;
}

.recommendation .title {
    margin: 0;
    font-size: 1em;
}

.recommendation .title a {
    display: block;
}

.recommendation .target {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.recommendation .titleText {
    display: box;
    display: -webkit-box;
    overflow: hidden;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.recommendation .userLink {
    display: block;
    position: relative;
    z-index: 1;
}

.recommendation .thumbnail {
    position: relative;
}

.recommendation .thumbnail img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.recommendation .duration {
    position: absolute;
    bottom: 0.625em;
    right: 0.25em;
    padding-block: 0.125em;
    padding-inline: 0.25em;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: smaller;
}