{% extends "layout.html" %}
{% block title %}upload :: picotube{% endblock %}
{% block main %}
<div class="center">
    <h2>upload a video</h2>
    <form id="form" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" accept="{{ allowed_mime_types }}" required>
        <input type="submit" id="submit" value="submit">
        <p role="alert">{{ error }}</p>
    </form>
    <p>Upload videos maximum 5 mins long. Videos will be transcoded to 240p30.</p>
    <div id="details">
        <div id="video"></div>
        <div>
            <p id="status" role="alert"></p>
            <p id="errorDetail"></p>
            <p id="transcodingProgress"></p>
            <p id="transcriptionProgress"></p>
        </div>
    </div>
</div>
<style>
    #details {
        display: flex;
        margin: 2em;
        gap: 2em;
        text-align: start;
    }

    #details > div {
        flex-grow: 1;
        flex-basis: 0;
    }

    #video video {
        width: 100%;
    }

    #status {
        margin: 0;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block scripts %}
<script type="importmap">
    {
        "imports": {
            "@transcribe/shout": "{{ url_for('static', filename='lib/transcribe.js/src/shout/shout.wasm.js') }}",
            "@transcribe/transcriber": "{{ url_for('static', filename='lib/transcribe.js/src/index.js') }}"
        }
    }
</script>
<script>
    var form = document.getElementById("form");
    var fileInput = document.getElementById("file");
    var submitButton = document.getElementById("submit");
    var statusMessage = document.getElementById("status");
    var errorDetailMessage = document.getElementById("errorDetail");
    var transcodingProgressMessage = document.getElementById("transcodingProgress");
    var transcriptionProgressMessage = document.getElementById("transcriptionProgress");
    var video = null;
    var errorShown = false;

    function showError(message, detail) {
        if (errorShown) {
            return;
        }

        statusMessage.textContent = message;
        errorDetailMessage.textContent = detail;
        transcodingProgressMessage.hidden = true;
        transcriptionProgressMessage.hidden = true;

        submit.disabled = false;
    }

    async function transcodeVideo() {
        transcodingProgressMessage.textContent = "Loading local transcoding tool...";
        transcodingProgressMessage.hidden = false;

        var {Input, Output, Conversion, ALL_FORMATS, UrlSource, Mp4OutputFormat, BufferTarget} = await import("{{ url_for('static', filename='lib/mediabunny.min.mjs') }}");

        try {
            var input = new Input({
                formats: ALL_FORMATS,
                source: new UrlSource(video.src)
            });

            var output = new Output({
                format: new Mp4OutputFormat(),
                target: new BufferTarget()
            });

            var conversion = await Conversion.init({
                input,
                output,
                video: {
                    height: 240,
                    frameRate: 30
                }
            });

            if (!conversion.isValid) {
                showError("Couldn't convert video.", "Please try another file.");

                throw new Error("Invalid conversion");
            }

            var lastTimeUpdate = Date.now();

            conversion.onProgress = function(progress) {
                transcodingProgressMessage.textContent = `Transcoding... (${Math.round(progress * 100)}%)`;

                if (Date.now() - lastTimeUpdate > 100) {
                    video.currentTime = progress * video.duration;
                    lastTimeUpdate = Date.now();

                    video.play();
                    video.pause();
                }
            };

            await conversion.execute();

            transcodingProgressMessage.hidden = true;

            return output.target.buffer;
        } catch (e) {
            showError("Sorry, but local preprocessing failed.", "Your web browser may be out of date. Please either update your web browser, or upload a video that is maximum 480p to bypass local preprocessing.");

            throw e;
        }
    }

    function transcriptionResultToWebvtt(result) {
        return `WEBVTT\n\n` + result.transcription.map(function(part, i) {
            var fromTime = part.timestamps.from.replace(",", ".");
            var toTime = part.timestamps.to.replace(",", ".");

            return [
                String(i + 1),
                `${fromTime} --> ${toTime}`,
                part.text.trim()
            ].join("\n");
        }).join("\n\n");
    }

    async function transcribeVideo() {
        transcriptionProgressMessage.textContent = "Loading local subtitle generator...";
        transcriptionProgressMessage.hidden = false;

        var createModule = (await import("@transcribe/shout")).default;
        var {FileTranscriber} = await import("@transcribe/transcriber");

        var transcriber = new FileTranscriber({
            createModule,
            model: "{{ url_for('static', filename='lib/ggml-tiny.en-q8_0.bin') }}",
            onReady: () => transcriptionProgressMessage.textContent = "Starting local subtitle generator...",
            onProgress: (progress) => transcriptionProgressMessage.textContent = `Generating subtitles... (${progress}%)`,
            print: (message) => console.log(message),
            printErr: (message) => console.error(message)
        });

        await transcriber.init();

        var result = await transcriber.transcribe(video.src, {
            lang: "en",
            threads: navigator.hardwareConcurrency - 2,
            translate: false,
            token_timestamps: true
        });

        transcriptionProgressMessage.hidden = true;

        return transcriptionResultToWebvtt(result);
    }

    submitButton.addEventListener("click", function(event) {
        if (fileInput.files.length == 0) {
            return;
        }

        event.preventDefault();

        submitButton.disabled = true;
        statusMessage.textContent = "Preprocessing video...";
        errorDetailMessage.textContent = "";
        transcodingProgressMessage.hidden = true;
        transcriptionProgressMessage.hidden = true;

        errorShown = false;

        video?.remove();

        video = document.createElement("video");

        document.getElementById("video").append(video);

        video.preload = "metadata";

        video.addEventListener("loadedmetadata", async function() {
            if (video.duration > 5 * 60) {
                showError("Sorry, your video is too long.", "Please make it shorter and try again.");

                throw new Error("Video too long");
            }

            var transcodingPromise = null;
            var transcriptionPromise = transcribeVideo();

            transcodingPromise?.catch(function(error) {
                console.warn("Transcription failed:", error);

                transcriptionProgressMessage.textContent = "";

                return Promise.resolve(null);
            });

            if (video.videoWidth > 640 || video.videoHeight > 480) {
                transcodingPromise = transcodeVideo();
            }

            var [videoBuffer, transcription] = await Promise.all([transcodingPromise, transcriptionPromise]);

            statusMessage.textContent = "Uploading video...";
            transcodingProgressMessage.hidden = true;
            transcriptionProgressMessage.hidden = true;

            console.log(videoBuffer, transcription);

            if (videoBuffer) {
                // var formData = new FormData();

                // formData.append("file", new Blob([videoBuffer], {type: "video/mp4"}));

                // var request = new XMLHttpRequest();

                // request.addEventListener("load", function(response) {
                //     window.location.href = request.responseURL;
                // });

                // request.open("POST", "/upload");
                // request.send(formData);
            } else {
                // form.submit();
            }
        });

        video.addEventListener("error", function() {
            showError("Failed to load video.", "Please check the video file and try again.");
        });

        video.src = URL.createObjectURL(fileInput.files[0]);
    });
</script>
{% endblock %}