<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <style>
            :root {
                --accent: {% block accent %}#007700{% endblock %}
            }
        </style>
        {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            <h1><a href="/">picotube</a></h1>
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="cat videos" aria-label="Search query">
                <input type="submit" value="search">
                {% if user %}
                <p class="greeting">hello, <strong>{{ user["username"] }}</strong>! <a href="/signout">sign out</a></p>
                {% endif %}
            </form>
            {% endblock %}
        </header>
        <nav class="primary">
            <ul>
                {% block nav %}
                <li><a href="/" class="{{ 'active' if section == 'home' else '' }}">home</a></li>
                <li><a href="/" class="{{ 'active' if section == 'hot' else '' }}">hot</a></li>
                <li><a href="/" class="{{ 'active' if section == 'latest' else '' }}">latest</a></li>
                <li><a href="/" class="{{ 'active' if section == 'random' else '' }}">random</a></li>
                <span class="spacer"></span>
                {% if user %}
                <li><a href="/" class="{{ 'active' if section == 'user' else '' }}">profile</a></li>
                <li><a href="/upload" class="{{ 'active' if section == 'upload' else '' }}">upload</a></li>
                {% else %}
                <li><a href="/signin" class="{{ 'active' if section == 'signin' else '' }}">sign in</a></li>
                <li><a href="/signup" class="{{ 'active' if section == 'signup' else '' }}">sign up</a></li>
                {% endif %}
                {% endblock %}
            </ul>
        </nav>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <p>Copyright &copy; 2026 James Livesey. Some rights reserved.</p>
        </footer>
    </body>
</html>